.abstract {
	font-style: italic;
}

.gap {
	margin-top: 30px;
}

.image-crop {
	max-height: 600px;
	max-width: 400px;
}

#eyeImage {
	max-height: 600px;
	max-width: 400px;
}

.image-holder {
	margin-left: -30px;
}

.footer-wrap {
	margin-top: 120px;
}

.survey label {
	font-weight: normal;
    margin-left: 20px;
}

.survey-title {

	margin-bottom: 60px;
}

.survey hr {
	border-top: 1px solid #d7d7d7;
}

.survey .btn {
	margin-top: 60px;
}

.survey h4 {
    font-style:italic;
    font-weight: normal;
}
.modal-dialog { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
} 
.upload {
    margin-left: 10px;
}

textarea {
   resize: none;
   vertical-align: top;
}

.modal-content { 
    /*overflow-y: scroll; */ 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
} 

.modal-body { 
    overflow-y: scroll; 
    position: absolute; 
    top: 65px; 
    bottom: 65px; 
    width: 100%; 
} 

.modal-header .close {
    margin-right: 15px;
} 

.modal-footer {
    position: absolute; 
    width: 100%; 
    bottom: 0; 
}