{% extends 'base.html' %}

{% block content-top %}
{% endblock %}


{% block content %} 

<div class="container-fluid landing-top">

	<div class="row">
		<div class="col-md-3"> 
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="alert alert-info gap">
		    <p>
		    	<h4> <strong> Need to talk to someone about your mental health? </strong> </h4>
				National Alliance on Mental Illness: 1-800-950-NAMI (6264) <br/>
				National suicide prevention lifeline: 1-800-273-8255 <br/>
				Website: <a href="https://suicidepreventionlifeline.org">https://suicidepreventionlifeline.org </a>
		    </p> 
		</div>

		</div>
  	</div>

	<div class="row">
		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
			<h1 align="center" class="font_4" >Mania in the eyes study</h1>
			<h3 align="center" class="landing-school">Southern Methodist University</h3>
		    
		</div>
		<div class="col-md-2">
		   
		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-7">
  		</div>
  		<div class="col-md-4">
  			<p  class="abstract"> 
				 An estimated 4-6 % of people are diagnosed with bipolar disorder throughout the world.  Southern Methodist University (SMU) is conducting a research study to help those affected by bipolar disorder learn to detect and ultimately manage mania through observing changes in the eyes. Please read this homepage for information on the study. You can then sign in below to submit your pictures.   
			</p>

			<div class="login-control">
				<form class="form-signin" method="post" action=".">
	                {% csrf_token %}

	                <div class="login-box">
			            <div class="form-group login-left"> 
							<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
						</div>
						<div class="form-group">
							<input type="hidden" class="form-control" placeholder="Password" id="id_password" name="password"  value="maniaPassword123" />
						</div>
			        	<button class="btn btn-lg btn-primary login-right" type="submit" value="Submit" >Sign in</button>
			        	{% if form.errors %} 
							<div class="alert alert-danger">
								{% for field in form %}
								         {{ field.errors }}
					    		{% endfor %}

					    		{{ form.non_field_errors }} 
				    		</div>
		    			{% endif %}

		        	</div>
		        	
	        	</form>

	        	<p align="center" >Don't have a username? <a href="{% url 'registration_register' %}">Create Your Anonymous User Name Here to Submit Your Photos!</a></p>
	        </div>

  		</div>
  		<div class="col-md-1">
  		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-7">
  		</div>
  		<div class="col-md-3">
  			<div class="arrow">
  			</div>
  		</div>
  		<div class="col-md-2">
  		</div>
  	</div>

</div>

<div class="containder landing-middle">

  	<div class="row">

  		<div class="col-md-2">
  		</div>
		<div class="col-md-4">
		   <h2> About the Study</h2>
		   <p> 
		   	Bipolar disorder is a complicated illness and manifests in different ways for different individuals. One idea for detecting manic episodes comes from an observation that changes in the eyes reveal when an individual is experiencing mania. Using this idea, pictures could be used to analyze if someone is experiencing a manic episode. These episodes are difficult for someone experiencing them to be aware of, thus an automatic identification system could help increase awareness of mania for an individual.
		   </p>
		   <p>
		   The objective of this study is to understand how individuals with bipolar disorder manifest their symptoms through their eyes. Specifically, we would like to create an automated process that can determine when individuals with bipolar are experiencing manic episodes. This study is focused on the development of an algorithm that can detect mania based on the appearance of the eyes through photos. 
		   </p>
		</div>

		<div class="col-md-6 faces">
		   
		</div>
<!-- 		<div class="col-md-2">
		</div> -->
  	</div>
  	<div class="row">
  	</div>


</div>
<div class="container-fluid landing-bottom">
  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h2> How you can help</h2>
		   <p> 
		   We need your photos! The key part of this study is to collect photos of people who are experiencing a manic episode. The photos only need to be of your eyes and does not require any other facial features. All photos submitted are done anonymously. That is, no information will be collected regarding names or other readily identifiable information.  You will be asked to answer a few questions to help us assess the type of manic episode you were experiencing when the photo was taken along with a few demographic questions. i.e. age, gender, medications. Before submitting your photos, you will be required to read and digitally sign a consent form that is for your protection. All participants in the study must be 18 years of age or older.
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <p> A couple of things to keep in mind when taking photos:
		   </p>
		   <ul>
		   		<li>All participants in the this study must be at least 18 years old. </li>
		   		<li>Photos must be clear and include both eyes. </li>
		   		<li>Your face should be facing forward and looking directly at the camera. </li>
		   		<li>Photos can only be submitted by the person in the photo. If you are assisting a loved one to upload a photo to this site, your loved one must give their consent by signing the consent form. </li>
		   		<li>Keep in mind that a flash can alter the pupil of the eyes and it would be preferred to not use a flash but rather natural light. If a flash was used, select the option on the upload page that a flash was used in the photo. </li>
		   </ul>
		   <p>
		   	To learn more before starting the process, please see <a data-toggle="modal" data-target="#myModal">Frequently Asked Questions </a>
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>
</div>

<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h3 class="modal-title" id="myModalLabel" align="center"> Frequently Asked Questions (FAQs) </h3>
		            </div>
		            <div class="modal-body"> {% include 'collection/faq_content.html' %} </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>

{% endblock %}