{% extends 'base.html' %}

{% block content-top %}
{% endblock %}


{% block content %} 

<div class="container-fluid landing-top">

	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2 main-logo top-logo">
		</div>
		<div class="col-md-9">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"> 
		</div>
		<div class="col-md-10">
			<div class="alert alert-info gap">
		    <p>
		    	<h4> <strong> Need to talk to someone about your mental health? </strong> </h4>
				National Alliance on Mental Illness: 1-800-950-NAMI (6264) <br/>
				National suicide prevention lifeline: 1-800-273-8255 <br/>
				Website: <a href="https://suicidepreventionlifeline.org">https://suicidepreventionlifeline.org </a>
		    </p> 

		</div>
		<div class="col-md-1">
			
		</div>

		</div>
  	</div>

	<div class="row">
		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
			<h1 align="center" class="font_4" >Mania in the eyes study</h1>
			<h3 align="center" class="landing-school">Southern Methodist University</h3>
		    
		</div>
		<div class="col-md-2">
		   
		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-7">
  		</div>
  		<div class="col-md-4">
  			<p  class="abstract"> 
				 An estimated 4-6 % of people are diagnosed with bipolar disorder throughout the world.  Southern Methodist University (SMU) is conducting a research study to help those affected by bipolar disorder learn to detect and ultimately manage mania through observing changes in the eyes. Please read this homepage for information on the study. You can then sign in below to submit your pictures.   
			</p>

			<div class="login-control">
				<form class="form-signin" method="post" action=".">
	                {% csrf_token %}

	                <div class="login-box">
			            <div class="form-group login-left"> 
							<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
						</div>
						<div class="form-group">
							<input type="hidden" class="form-control" placeholder="Password" id="id_password" name="password"  value="maniaPassword123" />
						</div>
			        	<button class="btn btn-lg btn-primary login-right" type="submit" value="Submit" >Sign in</button>
			        	{% if form.errors %} 
							<div class="alert alert-danger">
								{% for field in form %}
								         {{ field.errors }}
					    		{% endfor %}

					    		{{ form.non_field_errors }} 
				    		</div>
		    			{% endif %}

		        	</div>
		        	
	        	</form>

	        	<p align="center" >Don't have a username? <a href="{% url 'registration_register' %}">Create Your Anonymous User Name Here to Submit Your Photos!</a></p>
	        </div>

  		</div>
  		<div class="col-md-1">
  		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-7">
  		</div>
  		<div class="col-md-3">
  			<div class="arrow">
  			</div>
  		</div>
  		<div class="col-md-2">
  		</div>
  	</div>

</div>

<div class="containder landing-middle">

  	<div class="row">

  		<div class="col-md-2">
  		</div>
		<div class="col-md-4">
		   <h2> About the Study</h2>
		   <p> 
		   	 Bipolar disorder is a genetic illness that affects a person’s ability to self regulate the mood. Episodes of mania and depression, along with anxiety, irritation, focus problems and psychosis are common.  This study seeks to show that mania can be recognized through measurable changes in the eyes. Mania is a difficult to treat mood swing due to the lack of insight inherent in the episode. Specific eye patterns that show mania could be used to help a person in a manic episode recognize the need for help and accept treatment. Pointing out physical changes to the body removes stigma and reinforces the idea that bipolar disorder is a physical illness and not an emotional problem. 
		   </p>
		   <p>
		   The objective of this webpage is to create an anonymous database of pictures of the eyes of people in a manic episode. The research team will then use this information to create an automated process that could be used by people with bipolar disorder, care givers and health care professionals to determine when individuals with bipolar disorder are experiencing manic episodes.
		   </p>
		</div>

		<div class="col-md-6 faces">
		   
		</div>
<!-- 		<div class="col-md-2">
		</div> -->
  	</div>
  	<div class="row">
  	</div>


</div>
<div class="container-fluid landing-bottom">
  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h2>How you can help</h2>
		   <p> 
		  If you have bipolar disorder, we need your photos!  Our goal is to create a database of 1000 photos of the eyes of people in a manic episode. This will help us produce results backed by visible evidence in order to prove our hypothesis. 
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h2>Your Participation is Anonymous</h2>
		   <p> 
		  Photos submitted to this website are of the eyes only and will not show any other facial features. All submission are anonymous. No information is collected regarding names or other readily identifiable information. Your computer information will not be collected and there is no way to associate you with the photograph once is is submitted.  Signing in to this website does not save any of your personal information. 
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h2>The Process is Simple</h2>
		   <p> 
		  You will be asked to upload a photo from any time in your life that represents a manic episode. You can also create a photo on your cell phone in the moment to add to the study. All cropping is done online. You will be asked to answer a few questions to help us assess the type of manic episode you were experiencing during the time of the photo as well as questions about medication use. Before submitting your photos, you will be required to read and digitally sign a consent form that is for your protection. All participants in the study must be 18 years of age or older.
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>


  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h2>Photograph Checklist
		   </h2>
		   <ul>
		   		<li>All participants in the this study must be at least 18 years old. </li>
		   		<li>Photos must be clear and include both eyes. </li>
		   		<li>Your face should be facing forward and looking directly at the camera. </li>
		   		<li>Photos can only be submitted by the person in the photo. If you are assisting a loved one to upload a photo to this site, your loved one must give their consent by signing the consent form. </li>
		   		<li>Although flash can alter the eyes, we are not ruling out flash photos.  If a flash was used, you can let us know by checking the question regarding lighting you will find on the submission page. </li>
		   </ul>
		   <p>
		   	<label>
		   	To learn more before starting the process, please see <a href="" data-toggle="modal" data-target="#myModal">Frequently Asked Questions </a>
		   </label>
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>
</div>

<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h3 class="modal-title" id="myModalLabel" align="center"> Frequently Asked Questions (FAQs) </h3>
		            </div>
		            <div class="modal-body"> {% include 'collection/faq_content.html' %} </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>

<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

<script>
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});
</script>
{% endblock %}