{% extends 'base.html' %}

{% block content %} 

<div class="container">
	<div class="row">
		<div class="alert alert-success gap">
		    <p>
		    	Thank you for participating in this study!   	 
		    </p> 
		    <br />
		    <p> 
		    	You can go back to the <a href="{% url 'landing' %}">Homepage</a> or <a href="{% url 'upload' %}">Upload another photo</a>
		    </p>
		    <br />
		    <p> Leave a comment on the <a href="https://www.facebook.com/ManiaEyesSMU/" target="_blank">SMU Mania in the Eyes Facebook Page</a> </p>
		</div>
  	</div>
</div>

{% endblock %}