{% extends 'base.html' %}

{% block content %} 

<div class="container">
	<div class="row">
		<div class="alert alert-success gap">
		    <p>
		    	Thank you for participanting this study. You can go to the <a href="{% url 'landing' %}">HOME PAGE</a> OR <a href="{% url 'upload' %}">UPLOAD ANOTHER PHOTO</a>
		    </p> 
		    <p> Visit the <a href="https://www.facebook.com/ManiaEyesSMU/" target="_blank">SMU Mania in the Eyes Facebook Page </a> to Leave a Comment </p>
		</div>
  	</div>
</div>

{% endblock %}