  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4>Q: How will you protect my identity? </h4>
		   <p> 
		   	<strong>A: </strong> We will not be using any portion of the photographs submitted other than the eyes and the area of the face immediately surrounding the eyes. If you agree to be a participant in the study you will receive a unique identification number. Your name, email, and other identifying information will not be asked for. We do not track any part of your web history, not do we store cookies in your browser.
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> Q: Who will be able to see the photos I upload? </h4>
		   <p> 
		     <strong>A: </strong> Your photos will never be released outside of the immediate research team. Your photos will never be released publically. 
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> Q: How long will I have to submit photographs? </h4>
		   <p> 
		     <strong>A: </strong> You should set aside about 10 minutes to upload your photos and answer questions. 
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> Q: Do I need to crop my photographs so that only my eyes are included? </h4>
		   <p> 
		     <strong>A: </strong> The website allows you to crop images after you upload them. However, if you wish to crop the image before uploading, you can do so. Refer to <a href="{% url 'landing' %}">Photo Requirements List </a>
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> Q: Can I submit a photo where I used a flash on my camera? </h4>
		   <p> 
		     <strong>A: </strong> : We prefer images without a flash, but it's fine if the image was taken with the flash on. If you have a photo taken with flash, you can still use it. When you upload the picture, there will be a box that you can check to let us know that the flash was used in the picture.
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> Q: How many photos can I submit?  </h4>
		   <p> 
		     <strong>A: </strong> You may submit as many pictures as you like. We do ask that you add pictures of yourself when are stable and depressed so that we can create a comparison set of pictures. However, if you only have an image while you are experiencing a manic episode, that is okay too.
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> Q: Can I send in a photograph of a friend or family member?  </h4>
		   <p> 
		     <strong>A: </strong> You cannot upload an image of a person without their consent. It is okay to help a family member upload an image, but they MUST consent on the website.  
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> Q: Are there any requirements on type of camera I use?  </h4>
		   <p> 
		     <strong>A: </strong> No. A camera phone or any other type of camera that will take a clear picture is fine.
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> Q: How will my photos be used? </h4>
		   <p> 
		     <strong>A: </strong> : We will determine whether or not a submitted photograph will be part of our study based on the quality of the photograph. If it is approved we will compile and sort it along with all other approved photographs. We will look for patterns and trends which will be converted into an algorithm. This algorithm will be a key part of an interactive application designed to help identify if a person is manic and potentially whether they are in Euphoric or Dysphoric Mania.
		   </p>
		</div>

		<div class="col-md-2">
		   
		</div>
  	</div>