  	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4>Q: How will you protect my identity? </h4>
		   <p> 
		   	<strong>A: </strong> Your participation is anonymous. We ask that you choose a unique username so that you can upload images to our system multiple times. Please do NOT use your real name as your username. The username you choose should not reveal anything about you, but should be something you can remember. It could be as simple as a number of your favorite word. If you forget your username, there is no way to look it up. 
		   </p>
		   <p> 
		   	We will not ask for your name, email or any other identifying information. We do not track any part of your web history, nor do we store unnecessary cookies in your browser. We use two cookies on the site. One cookie is a session cookie so that you do not need to login every time you upload a photo (you are automatically logged out after 15 minutes without any web activity or when you close your browser). The second cookie we use is called a cross site request forgery that we use for security reasons (for instance, to prevent someone from impersonating your account). Finally, no portion of the photographs submitted, other than the eyes and the area of the face immediately surrounding the eyes will be saved on the website.
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Q: Who will be able to see the photos I upload? </h4>
		   <p> 
		     <strong>A: </strong> Your photos will never be released publicly. They are for the purpose of the research project only.  Please note they will only be of the eyes.
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>

	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Q: How long will I have to submit photographs? </h4>
		   <p> 
		     <strong>A: </strong> You should set aside at least 10 minutes to upload your photos and answer the questions regarding your mania. 
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Q: Do I need to crop my photographs so that only my eyes are included? </h4>
		   <p> 
		     <strong>A: </strong> The website allows you to crop images after you upload them. However, if you wish to crop the image before uploading, you can do so.  Please refer to the <a href="{% url 'landing' %}#clist">Photograph Checklist</a> for more information.
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Q: Can I submit a photo where I used a flash on my camera? </h4>
		   <p> 
		     <strong>A: </strong> :We prefer images without a flash, but it's fine if the image was taken with a flash. After you upload a picture, there will be a box that you can check to let us know that the flash was used in the picture.
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Q: How many photos can I submit?  </h4>
		   <p> 
		     <strong>A: </strong> You may submit as many pictures as you like.  Although this is a study for recognizing mania in the eyes, we also ask for pictures of your eyes when depressed and stable if available so that we can create a comparison set of pictures.
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Q: Can I send in a photograph of a friend or family member?  </h4>
		   <p> 
		     <strong>A: </strong> You cannot upload an image of a person without their consent. We encourage people to work together on this project. A family member for example can upload an image, but the person in the image must check the consent box on the website.
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Q: Are there any requirements on type of camera I use?  </h4>
		   <p> 
		     <strong>A: </strong> No. A camera phone or any other type of camera that will take a clear picture is fine.
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Q: How will my photos be used? </h4>
		   <p> 
		     <strong>A: </strong> : Accepted photographs will be used as data for a developing an algorithm that recognizes patterns in pixels in order to ultimately determine whether an image shows signs of mania or not, with as much accuracy as possible. An algorithm is a process or set of rules to be followed in calculations or other problem solving operations, especially by a computer. The algorithm the research team develops can potentially be applied as a computer or mobile application designed to help a person, caregiver or healthcare professional recognize a manic episode.
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Q: I just tried to upload a photo but was brought back to the Homepage instead, what happened? </h4>
		   <p> 
		     <strong>A: </strong> : If you leave your browser idle for 15 minutes or longer, you are automatically logged out due to inactivity. As a result, your uploaded photo did not make it into our system. Please log in again to upload the photo.
		   </p>
		</div>

		<div class="col-md-1">
		   
		</div>
  	</div>