<div class="row">
	<div class="col-md-1"> </div>
	<div class="col-md-10">
		We know! This is a bit to read, but it makes sure you are clear on how we will use the eye images to help people with bipolar disorder recognize mania in the eyes.
	 </div>

	<div class="col-md-1"> </div> 
</div>

<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> What is this form and what is informed consent?</h4>
		   <p> We are asking you to be in a research study. Before you agree to be in this research study,  you must read this form in order understand what the study is about and how it will be carried out. This form will explain any possible complications that might arise as well as explain how your participation in this study could help others. Informed consent means you participate in this study with full knowledge of the purpose and process of the study.  When you give your consent for something, it is identical to giving your permission. Please be aware that there is no penalty for refusal to participate and you may discontinue participation at any time without penalty. <strong> Do not click "accept" on this consent
			form unless you feel comfortable with the information you have read. </strong>
		   </p>
		</div>
		<div class="col-md-1">
		   
		</div>
 </div>

<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Purpose of This Study </h4>
		   <p> The purpose of this study is to explore how individuals with bipolar disorder manifest symptoms of mania through the eyes. We want to explore if there a measurable change in the eyes when a person is manic. Our goal is to create an image processing algorithm that could detect manic states and ultimately determine if the mania is euphoric or dysphoric.  The image data you provide will help in the design of this algorithm.
		   </p>
		</div>
		<div class="col-md-1">
		   
		</div>
 </div>

<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Procedures </h4>
		   <p> If you decide to participate, you will be asked to upload images of your eyes and anonymously answer questions regarding your manic symptoms when the image was taken. There are also questions about the use of medications and other drug use, which are factors that may affect the detection of mania in the eyes. Please know that all information shared on this website is anonymous.  You will not be asked to provide your name or other identifying information.
		   </p>
		   <p>
		   We also ask that when you answer questions, you do not provide anything that might reveal your identity such as your name, address, or other details. We will not collect any data about your browser, web history, or where you are located. 
		   </p>
		</div>
		<div class="col-md-1">
		   
		</div>
 </div>


<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		    <h4> Possible Risk, Stress of Discomfort </h4>
		    <p> Before starting, there are some possible risks you should consider: </p>
		    <p>	<strong>Risk 1, Depression. </strong>  Questions that ask about your thoughts and behaviors during the time the image was taken may cause you to dwell on feelings of depression or mania. In the event that you experience depressive thoughts due to the questions, please contact one of the support groups listed on the top of this webpage.
			</p>
			<p>	<strong>Risk 2, Your Identity. </strong> The researchers involved in this study are committed to keeping your identity anonymous. However, it is possible that you could be identified by the images of your eyes. Most people cannot be easily identified by images of their eyes because the images are not high enough resolution. Even so, if you have unique markings near your eyes such as a birthmark, scar, or mole, you might be able to be identified by these markings. If you are worried about being identified or think you might be at higher risk than others for being identified, consider not participating in this study. No images from this research study will be released publicly, but we want you to think of your needs before participating.
			</p>
			<p>	<strong>Risk 3, Third Parties. </strong> Please respect the fact that it is unethical to upload data from someone who has not given consent to use an image.  If you are assisting a loved one to upload a picture to this site, your loved one must give consent using this form.
		    </p>
		</div>
		<div class="col-md-1">
		   
		</div>
 </div>

 <div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Benefits of the Study </h4>
		   <p> There are no direct or immediate benefits to you for participating in this study.  No incentive will be offered for participating in this study. But please know that your participation could greatly help the bipolar disorder community find a non invasive way to look for signs of mania in themselves and loved ones. In our experiences and research, many individuals who participate in studies then use this new way of thinking to further investigate their own symptoms and those of loved ones.
		   </p>
		</div>
		<div class="col-md-1">
		   
		</div>
 </div>

<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Participation is Voluntary </h4>
		   <p> Taking part in this study is voluntary. You can stop at any time. Information about you is confidential. No written signature or identifiable data will be collected. IP addresses will not be stored on the website nor will any cookie information be taken.
		   </p>
		   <p>
		   	Government or university staff sometimes review studies such as this one to make sure they are being done safely and legally. If a review of this study takes place, your images may be examined. The reviewers will protect your privacy. The study’s images will not be used to put you at legal risk or harm.
		   	</p>
		</div>
		<div class="col-md-1">
		   
		</div>
 </div>
 
<div class="row">
  		<div class="col-md-1">
		   
		</div>
		<div class="col-md-10">
		   <h4> Subject Statement </h4>
		   <p>I have read this consent form. I volunteer to take part in this research.  If I have questions about my rights as a research subject, I can email the Southern Methodist University Human Subjects Division at <a href="mailto:researchcompliance@smu.edu">researchcompliance@smu.edu. </a>
		   </p>
		</div>
		<div class="col-md-1">
		   
		</div>
 </div>