
<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> What is this form and what is informed consent?</h4>
		   <p> We are asking you to be in a research study. Before you agree to be in this research study
				you need to read this form. It is important for you to understand all the information in this form
				because it will tell you what the study is about and how it will be done. It will tell you about
				some problems that might happen during the study, as well as the good things that might happen
				during the study. When you read a form like this to learn about a research study, it is called
				“informed consent.” When you give your consent for something, it is identical to giving your
				permission. Please be aware that there is no penalty for refusal to participate and you may
				discontinue participation at any time without penalty. <strong> Do not click “accept” on this consent
				form unless you feel comfortable with the information you have read. </strong>
		   </p>
		</div>
		<div class="col-md-2">
		   
		</div>
 </div>

<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> PURPOSE OF THE STUDY </h4>
		   <p> The objective of this study is to understand how individuals with bipolar disorder
				manifest their symptoms through their eyes. More specifically, we will focus on development of
				an image processing algorithm that can detect manic states based on the appearance of the eyes
				and whether the mania is euphoric (i.e., high energy with positive feelings) or dysphoric (i.e.,
				high energy mixed with a depressed mood and/or anger and agitation). We target mania because
				many times it is difficult to know when someone is experiencing a manic state. As such, an
				algorithm built into a mobile application, for example, can help people understand if they are
				experiencing mania on a physical level and thus can help manage symptoms and increase
				awareness. The image data you provide will help in the design of this algorithm and application.
		   </p>
		</div>
		<div class="col-md-2">
		   
		</div>
 </div>

<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> PROCEDURES </h4>
		   <p> If you decide to participate, we will ask you to upload an image of your eyes and answer
			questions regarding your mental state when the image was taken. These questions are taken from
			the psychology community for understanding if you are in a manic state, neutral state, or
			depressed state when the picture was taken. There are also questions about the use of
			medications and other drug use, which are factors that may affect the detection of mania in the
			eyes. You will <strong>not </strong> be asked to provide your name or other identifying information. We also ask
			that, when you answer questions, you do not provide details that might reveal your identity such
			as your name, address, or other details. Moreover, to keep the process anonymous, we do not
			collect any data about your browser, web history, or where you are located. The picture(s) that
			you upload can be from any camera you wish, such as your smartphone. This website allows you
			to search images from your phone or computer and upload them securely. The website will then
			delete portions of the image that are not your eyes and you will be asked to approve the cropped
			image before submission. Only this cropped image will be saved from the photo you upload.
		   </p>
		</div>
		<div class="col-md-2">
		   
		</div>
 </div>


<div class="row">
  		<div class="col-md-2">
		   
		</div>
		<div class="col-md-8">
		   <h4> RISKS, STRESS, OR DISCOMFORT </h4>
		   <p> If you decide to participate, we will ask you to upload an image of your eyes and answer
			questions regarding your mental state when the image was taken. These questions are taken from
			the psychology community for understanding if you are in a manic state, neutral state, or
			depressed state when the picture was taken. There are also questions about the use of
			medications and other drug use, which are factors that may affect the detection of mania in the
			eyes. You will <strong>not </strong> be asked to provide your name or other identifying information. We also ask
			that, when you answer questions, you do not provide details that might reveal your identity such
			as your name, address, or other details. Moreover, to keep the process anonymous, we do not
			collect any data about your browser, web history, or where you are located. The picture(s) that
			you upload can be from any camera you wish, such as your smartphone. This website allows you
			to search images from your phone or computer and upload them securely. The website will then
			delete portions of the image that are not your eyes and you will be asked to approve the cropped
			image before submission. Only this cropped image will be saved from the photo you upload.
		   </p>
		</div>
		<div class="col-md-2">
		   
		</div>
 </div>
 