{% extends "base.html" %}


{% block content %}

        <form id="userprofile" class="form-signin"  method="post" action="{% url "profile" %}">
        	 {% csrf_token %}
       				 <!-- Profile info -->
       				<h3 class="form-signin-heading">FILL IN BASIC INFO</h3>
	    			<label for="sel1">Age Range:</label>
				      <select class="form-control" name="agerange">
				        <option value="0">18-25</option>
				        <option value="1">26-30</option>
				        <option value="2">31-35</option>
				        <option value="3">36-40</option>
				        <option value="4">41-45</option>
				        <option value="5">46-50</option>
				        <option value="6">51-55</option>
				        <option value="7">56-60</option>
				        <option value="8">61-65</option>
				        <option value="9">over 65</option>
				      </select>
					 <br>

					 <label for="sel1">Gender:</label>
				      <select class="form-control" name="gender">
				        <option value="0" >Male</option>
				        <option value="1">Female</option>
				        <option value="2">I perfer not to say</option>
				      </select>
					 <br>

					 <label for="sel1">Diagnosis:</label>
				      <select class="form-control" name="diagnosis">
				        <option value="0">Bipolar one</option>
				        <option value="1">Bipolar two</option>
				        <option value="2">Bipolar non specified</option>
				        <option value="3">Schizoaffective</option>
				      </select>
					 <br>
			<div class="checkbox">
				    <label>
				       Please read the <a data-toggle="modal" data-target="#myModal" >consent form</a> before signing-up.
				    </label>
				  </div>
				  <button type="submit" id="create" class="btn btn-lg btn-primary btn-block" disabled="true">Create User Name</button>

        </form>
        <p align="center" >Already have a username? <a href="{% url 'auth_login' %}">Sign In </a></p>
        <!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h3 class="modal-title" id="myModalLabel" align="center"> Consent Form </h3>
		            </div>
		            <div class="modal-body"> {% include 'collection/form_content.html' %} </div>
		            <div class="modal-footer">
		            	<input id="consent-box" type="checkbox"> Accept 
		            	<!-- <input id="consent-box-disagree" type="checkbox"> I disagree  -->
		                <button id="dismiss-modal" type="button" class="btn btn-default" data-dismiss="modal" style="display: none;">Close</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>

<script> 
	
$("#consent-box").click(function() {

	if ($(this).is(':checked')) {
		document.getElementById("dismiss-modal").click();
		$("#create").removeAttr("disabled");  
	}
	else {
		$("#create").attr("disabled","true");  
	}
});

$("#consent-box-disagree").click(function() {
	document.getElementById("dismiss-modal").click();
});

</script>
{% endblock %}