{% extends 'base.html' %}

{% block content %} 


<div class="container survey">
	<!-- <div class="row">
		<div class="alert alert-success">
		    <p>
		    	<h3> Thank you for uploading your eye image for this study, please fill in the exit survey to let us have a better understanding of your situation!</h3>
		    </p> 
		</div>
  	</div> -->
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h2 align="center" class="survey-title" > Uploaded Image Survey</h2>
			<form  name="exitSurvey" method="post" action="{% url "complete" %}">
				{% csrf_token %}


				<h4> What is your state when you took this photo? </h4>
				<label class="radio">
				  <input  type="radio" name="stateOptions" value="0" required> I was stable
				</label>
				<label class="radio">
				  <input type="radio" name="stateOptions" value="1"> I was depressed
				</label>
				<label class="radio">
				  <input type="radio" name="stateOptions" value="2"> I was manic
				</label>

				<label class="survey-msg">
					When you check the mania option, you will be asked a set of questions to give us more information regarding the type of mania you were experiencing. 
				</label>

				<div id="flash-box">
					<h3> Other Information </h3>
					<hr>
					<h4> Was a flash used in this photo: </h4>
					<label class="radio">
					  <input type="radio" id="first-other" name="otherOptions0" value="0" required> Yes
					</label>
					<label class="radio">
					  <input type="radio" name="otherOptions0" value="1"> No
					</label>
					<label class="radio">
					  <input type="radio" name="otherOptions0" value="2"> I don’t know
					</label>
				</div>

				 <div id="survey-box">
						<h3 > Mental State Questionnaire </h3>
						<hr>
						<h4> Please check the boxes that represent how you felt during the time of the picture. </h4>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="0"> I felt upbeat and had a lot of fun. 
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="1"> People told me (or I felt) I was cruel or that I was not being empathetic.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="2"> Being in my body felt uncomfortable and restless.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="3"> I felt that anything in life was possible.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="4"> I felt compelled to discuss my amazing ideas with everyone and get them involved in my beautiful project.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="5"> I felt like the world around me was not real.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="6"> I felt an aggressive energy, as if I wanted to drive fast, punch walls, or give people a piece of my mind.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="7"> I felt that normally difficult tasks were easy and enjoyable.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="8"> I felt that everything in my life was wrong and I had to leave immediately no matter who got hurt.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="9"> I was happy, talkative, more social, and the life of the party.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="10"> I made dangerous or unusually aggressive and risky decisions such as intense road rage or picking fights with family members and strangers.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="11"> I acted suspicious, irritated and mean.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="12"> I felt wonderful in my body.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="mentalOptions" value="13"> I was worried that people were talking about me.
						</label>


						<h4> Check the medications you were taking at the time of the picture: </h4>

						<label class="checkbox">
						  <input type="checkbox" name="medicationOptions" value="0"> SSRI and SNRI Antidepressants.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="medicationOptions" value="1"> Anti-psychotics.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="medicationOptions" value="2"> Anti-Anxiety medication.
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="medicationOptions" value="3"> Mood Stabilizer.
						</label>
						<div class="textarea"> 
							<label class="text-label"> Other: </label>
							<textarea class="form-control" rows="5" name='medicationOther'></textarea> 
						</div>

						<h4> <strong>Optional, but helpful to the study: </strong> Check the substances you were using at the time of the picture. Please know this information is completely anonymous. </h4>

						<label class="checkbox">
						  <input type="checkbox" name="substancesOptions" value="0"> Marijuana
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="substancesOptions" value="1"> Hallucinogenics
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="substancesOptions" value="2"> Meth amphetamine
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="substancesOptions" value="3"> Cocaine
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="substancesOptions" value="4"> Opioids
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="substancesOptions" value="5"> Alcohol
						</label>
						<label class="checkbox">
						  <input type="checkbox" name="substancesOptions" value="6"> Steroids
						</label>
							<h3> Other Information </h3>
							<hr>
							<h4> Was a flash used in this photo: </h4>
							<label class="radio">
							  <input type="radio" id="second-other" name="otherOptions" value="0"> Yes
							</label>
							<label class="radio">
							  <input type="radio" name="otherOptions" value="1"> No
							</label>
							<label class="radio">
							  <input type="radio" name="otherOptions" value="2"> I don’t know
							</label>
					</div>
				<button type="submit" id="create" class="btn btn-lg btn-primary btn-block">Submit </button>
			</form>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
<div class="loader"></div>
<script>

    var rad = document.exitSurvey.stateOptions;
    for(var i = 0; i < rad.length; i++) {
        rad[i].onclick = function() {
            if (this.value == "2") {
            	document.getElementById("survey-box").style.display = "inherit"; 
            	document.getElementById("flash-box").style.display = "none"; 
            	document.getElementById("first-other").removeAttribute("required");
            	document.getElementById("second-other").setAttribute("required", "");
            } else {
            	document.getElementById("flash-box").style.display = "inherit"; 
            	document.getElementById("survey-box").style.display = "none"; 
            	document.getElementById("first-other").setAttribute("required", "");
            	document.getElementById("second-other").removeAttribute("required");
            }
        };
    }
</script>


{% endblock %}
